body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
textarea,
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

img {
    margin-top: 10px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.product-item {
    flex: 1 0 30%; /* Zajmuje do 30% przestrzeni, z minimum 0 i rośnie, aby wypełnić przestrzeń */
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    padding: 10px;
    box-sizing: border-box;
}

.product-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
